openapi: 3.1.0
info:
  title: NASA Open APIs APOD EPIC API
  description: 'The api.nasa.gov portal hosts a federated set of NASA APIs covering

    imagery, science, and mission data. All endpoints authenticate via

    the `api_key` query parameter (DEMO_KEY is available for limited

    use). This specification covers commonly used endpoints across

    APOD, NeoWs, DONKI, Earth, EPIC, Mars Rover Photos, and InSight.

    '
  version: '1.0'
servers:
- url: https://api.nasa.gov
  description: NASA api.nasa.gov gateway
security:
- apiKeyQuery: []
tags:
- name: EPIC
  description: Earth Polychromatic Imaging Camera.
paths:
  /EPIC/api/natural:
    get:
      tags:
      - EPIC
      summary: Most recent natural-color EPIC images
      operationId: epicNatural
      responses:
        '200':
          description: EPIC natural images.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /EPIC/api/enhanced:
    get:
      tags:
      - EPIC
      summary: Most recent enhanced-color EPIC images
      operationId: epicEnhanced
      responses:
        '200':
          description: EPIC enhanced images.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: NASA API key (DEMO_KEY available for limited use).
