openapi: 3.1.0
info:
  title: NASA Open APIs APOD Earth API
  description: 'The api.nasa.gov portal hosts a federated set of NASA APIs covering

    imagery, science, and mission data. All endpoints authenticate via

    the `api_key` query parameter (DEMO_KEY is available for limited

    use). This specification covers commonly used endpoints across

    APOD, NeoWs, DONKI, Earth, EPIC, Mars Rover Photos, and InSight.

    '
  version: '1.0'
servers:
- url: https://api.nasa.gov
  description: NASA api.nasa.gov gateway
security:
- apiKeyQuery: []
tags:
- name: Earth
  description: Earth imagery and assets.
paths:
  /planetary/earth/imagery:
    get:
      tags:
      - Earth
      summary: Landsat 8 imagery for a lat/lon and date
      operationId: earthImagery
      parameters:
      - in: query
        name: lat
        required: true
        schema:
          type: number
      - in: query
        name: lon
        required: true
        schema:
          type: number
      - in: query
        name: date
        schema:
          type: string
          format: date
      - in: query
        name: dim
        schema:
          type: number
      responses:
        '200':
          description: Earth imagery.
  /planetary/earth/assets:
    get:
      tags:
      - Earth
      summary: Landsat 8 asset metadata for a lat/lon and date
      operationId: earthAssets
      parameters:
      - in: query
        name: lat
        required: true
        schema:
          type: number
      - in: query
        name: lon
        required: true
        schema:
          type: number
      - in: query
        name: date
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Asset metadata.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: NASA API key (DEMO_KEY available for limited use).
